* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
:root {
  --prim-color: #3bc4ff;
  --secound-color: #fff;
  --third-color: #0000;
}
body {
  background: black;
  color: ;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-size: ;
  font-family: ;
  width: 100%;
  height: 100vh;
}

button {
  cursor: pointer;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 6.25rem;
  background-color: var(--prim-color);
  text-transform: uppercase;
  position: fixed;
  width: 1380px;
  z-index: 100;
}
.navbar__logo {
  width: 12.5rem;
}
.navbar__logo svg {
  height: 100%;
  width: 100%;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  list-style: none;
  text-decoration: none;
}
.navbar ul li a {
  color: var(--secound-color);
  text-decoration: none;
  font-size: 18px;
}
.navbar__socials ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.navbar__socials ul li a {
  color: var(--secound-color);
  font-size: 18px;
}
.video__audio video {
  width: 1380px;
  height: 1080px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.video__overlay {
  position: absolute;
  top: 0;
  width: 1380px;
  height: 1080px;
  object-fit: fill;
}
.hero__efterskole-button,
.hero__ridebane-button,
.hero__ridehal-button,
.hero__ridestald-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  animation: pulse 2s infinite;
  background-color: rgba(59, 196, 255, 1);
  cursor: pointer;
  color: white;
  border: none;
}
.hero__efterskole-button {
  position: absolute;
  top: 400px;
  left: 900px;
}
.hero__ridebane-button {
  position: absolute;
  top: 650px;
  left: 400px;
}
.hero__ridehal-button {
  position: absolute;
  top: 900px;
  left: 100px;
}
.hero__ridestald-button {
  position: absolute;
  top: 500px;
  left: 550px;
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(59, 196, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

/*=============================================
=            Klank-efterskole-svg            =
=============================================*/

.e466f0be-6ccf-419c-a3d0-e6138bef764c {
  fill: none;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
#b717b9e7-ed37-4ca7-b1ab-06802f4774f5 {
  position: absolute;
  width: 200px;
  height: 200px;
  fill: white;
  top: 18rem;
  left: 43rem;
}
#b717b9e7-ed37-4ca7-b1ab-06802f4774f5:hover {
  display: block;
}
/*=====  End of Klank-efterskole-svg  ======*/

/*=============================================
=            klank-efterskole-ridestald            =
=============================================*/
#b069ed78-c399-4f8b-8f04-ecb72821cca9 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 25rem;
  left: 39.5rem;
  fill: white;
}
.bc5a4d28-76ac-4c37-9767-8c643a9d7006 {
  fill: none;
}
.ba9601e5-1b49-44a0-a24a-7415f9a1e9d9 {
  fill: none;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

/*=====  End of klank-efterskole-ridestald  ======*/
